<section>
  <mat-sidenav-container class="side-nav-container">
    <mat-sidenav opened mode="side" #sidenav>
      <section style="height: 100%">
        <mat-action-list>
          <button mat-list-item (click)="sidenav.open()">
            <mat-icon mat-list-icon>menu</mat-icon>
            <div>Menu</div>
          </button>
          <button mat-list-item>
            <mat-icon mat-list-icon>folder_open</mat-icon>
            <div>Content Management</div>
            <mat-icon style="margin-left: 10px">expand_more</mat-icon>
          </button>
          <button mat-list-item>
            <mat-icon mat-list-icon>auto_stories</mat-icon>
            <div>Courses</div>
          </button>
        </mat-action-list>
      </section>
    </mat-sidenav>
    <mat-sidenav-content (click)="handleBlurSidenav($event)">
      <header class="header">
        ATOM
      </header>
      <section class="container">
        <router-outlet></router-outlet>
      </section>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
